

$button__border: 1px solid #4d90e2;
$button__border__color-hover: #4d90e2;
$button__border__color-focus: #4d90e2;
$button__background-color: #fff;
$button__background-color-hover: #4d90e2;
$button__text-color: #4d90e2;
$button__text-color-hover: #fff;
$button__font-size: 1rem;
$button__font-family: 'Open Sans', sans-serif;
$button__font-weight: 300;
$button__border-radius: 5px;
$button__padding: 15px 25px;

