// use color name provided in style guide

$color__black: #000000;
$color__dark-grey: #414042;
$color__grey: #6d6e71;
$color__light-grey: #808285;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


