// use color name provided in style guide

$color__black: #000 ;
$color__dark-grey:#231f20;
$color__light-grey:#514c4f;
$color__grey:#555;
$color__light-grey: #eee;


$color__background-body: #fff;
$color__background-very-dark-gray: #302b2c;
$color__background-dark-gray: #514c4f;
$color__background-gray: #7b7979;
$color__background-light-gray: #dddddd;
$color__background-very-light-gray: #e5e5e5;
$color__background-off-white: #f0efef;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$PB__Orange: #ef5224;
$PB__Brown: #512d1e;
$PB__Red: #e63e30;
$PB__Light_Brown: #2b2829;
$PB__Green: #80bc41;
$PB__White: #ffffff;
$PB__Black: #2b2829;
