
$input-color__text: #000000;
$input-color__text-focus: #111;

$input-color__border: #302b2c;
$input-color__border-focus: #1c1b1c;

$input-padding: 20px 15px;
$input-margin: 0;

$color__border-abbr: #302b2c;
