//headings

//h1
$heading_h1_family:$font__main;
$heading_h1_weight:600;
$heading_h1_size: 2rem;
$heading_h1_color: #000;
$heading_h1_line-height: 1.2;
$heading_h1_margins:20px 0;

//h2
$heading_h2_family:$font__main;
$heading_h2_weight:600;
$heading_h2_size: 1.8rem;
$heading_h2_color: #000;
$heading_h2_line-height: 1.2;
$heading_h2_margins:20px 0;

//h3
$heading_h3_family:$font__secondary;
$heading_h3_weight:600;
$heading_h3_size: 1.6rem;
$heading_h3_color: #000;
$heading_h3_line-height: 1.2;
$heading_h3_margins:20px 0;

//h4
$heading_h4_family:$font__secondary;
$heading_h4_weight:400;
$heading_h4_size: 1.4rem;
$heading_h4_color: #000;
$heading_h4_line-height: 1.2;
$heading_h4_margins:20px 0;

//h5
$heading_h5_family:$font__secondary;
$heading_h5_weight:400;
$heading_h5_size: 1.2rem;
$heading_h5_color: #000;
$heading_h5_line-height: 1.2;
$heading_h5_margins:20px 0;

//h6
$heading_h6_family:$font__secondary;
$heading_h6_weight:400;
$heading_h6_size: 1rem;
$heading_h6_color: #000;
$heading_h6_line-height: 1.2;
$heading_h6_margins:20px 0;


//p
$color__text-screen: #21759b;
$color__text-main: #404040;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;


