//headings

$headings:          h1,   h2,   h3,   h4,   h5,   h6;
$heading_sizes:     38px, 32px, 28px, 24px, 22px, 18px;
$heading_m_sizes:   32px, 28px, 24px, 22px, 20px, 16px;
$heading_s_sizes:   28px, 24px, 22px, 20px, 18px, 16px;

$heading_family:$font__secondary;
$heading_color:$color__dark-grey;
$heading_weight:bold;
$heading_line-heights: 1.2;
$heading_margins:20px 0;
$heading_mobile_margins:10px 0;

$body_line-height: 1.3;
//p
$color__text-screen: #21759b;
$color__text-main: #404040;

$color__link: $heading_color;
$color__link-visited: purple;
$color__link-hover: midnightblue;

