{
  "name": "Seed",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "sass/sass.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/sass.scss",
      "imports": [
        "sass/theme/_theme.scss",
        "sass/layouts/_layouts.scss",
        "sass/theme/variables-site/_variables-site.scss",
        "sass/theme/inc/_inc.scss",
        "sass/theme/mixins/_mixins.scss",
        "sass/theme/normalize/_normalize.scss",
        "sass/layouts/flex/_flex.scss",
        "sass/layouts/navigation/_navigation.scss",
        "sass/theme/variables-site/_breakpoints.scss",
        "sass/theme/variables-site/_colors.scss",
        "sass/theme/variables-site/_typeface.scss",
        "sass/theme/variables-site/_typography.scss",
        "sass/theme/variables-site/_structure.scss",
        "sass/theme/variables-site/_forms.scss",
        "sass/theme/variables-site/_buttons.scss",
        "sass/theme/inc/font-awesome/font-awesome.scss",
        "sass/theme/inc/jeet/_jeet.scss",
        "sass/theme/inc/bourbon/_bourbon.scss",
        "sass/theme/mixins/_flex-column.scss",
        "sass/theme/mixins/_mixins-master.scss",
        "sass/theme/mixins/_responsive.scss",
        "sass/theme/normalize/typography/_typography.scss",
        "sass/theme/normalize/elements/_elements.scss",
        "sass/theme/normalize/forms/_forms.scss",
        "sass/theme/normalize/modules/_accessibility.scss",
        "sass/theme/normalize/modules/_alignments.scss",
        "sass/theme/normalize/modules/_clearings.scss",
        "sass/theme/normalize/site/secondary/_widgets.scss",
        "sass/theme/normalize/site/_site.scss",
        "sass/theme/normalize/modules/_infinite-scroll.scss",
        "sass/theme/normalize/media/_media.scss",
        "sass/layouts/flex/_slider-content.scss",
        "sass/layouts/flex/_content.scss",
        "sass/layouts/flex/_columns.scss",
        "sass/layouts/navigation/_links.scss",
        "sass/layouts/navigation/_social.scss",
        "sass/layouts/navigation/_header.scss",
        "sass/layouts/navigation/_footer.scss",
        "sass/layouts/navigation/_menus.scss",
        "sass/theme/inc/font-awesome/_variables.scss",
        "sass/theme/inc/font-awesome/_mixins.scss",
        "sass/theme/inc/font-awesome/_path.scss",
        "sass/theme/inc/font-awesome/_core.scss",
        "sass/theme/inc/font-awesome/_larger.scss",
        "sass/theme/inc/font-awesome/_fixed-width.scss",
        "sass/theme/inc/font-awesome/_list.scss",
        "sass/theme/inc/font-awesome/_bordered-pulled.scss",
        "sass/theme/inc/font-awesome/_animated.scss",
        "sass/theme/inc/font-awesome/_rotated-flipped.scss",
        "sass/theme/inc/font-awesome/_stacked.scss",
        "sass/theme/inc/font-awesome/_icons.scss",
        "sass/theme/inc/font-awesome/_screen-reader.scss",
        "sass/theme/inc/jeet/_settings.scss",
        "sass/theme/inc/jeet/_functions.scss",
        "sass/theme/inc/jeet/_grid.scss",
        "sass/theme/inc/bourbon/helpers/_scales.scss",
        "sass/theme/inc/bourbon/helpers/_timing-functions.scss",
        "sass/theme/inc/bourbon/settings/_settings.scss",
        "sass/theme/inc/bourbon/validators/_contains.scss",
        "sass/theme/inc/bourbon/validators/_contains-falsy.scss",
        "sass/theme/inc/bourbon/validators/_is-length.scss",
        "sass/theme/inc/bourbon/validators/_is-light.scss",
        "sass/theme/inc/bourbon/validators/_is-number.scss",
        "sass/theme/inc/bourbon/validators/_is-size.scss",
        "sass/theme/inc/bourbon/utilities/_assign-inputs.scss",
        "sass/theme/inc/bourbon/utilities/_bourbon-get-setting.scss",
        "sass/theme/inc/bourbon/utilities/_collapse-directionals.scss",
        "sass/theme/inc/bourbon/utilities/_directional-values.scss",
        "sass/theme/inc/bourbon/utilities/_font-source-declaration.scss",
        "sass/theme/inc/bourbon/utilities/_unpack.scss",
        "sass/theme/inc/bourbon/library/_border-color.scss",
        "sass/theme/inc/bourbon/library/_border-radius.scss",
        "sass/theme/inc/bourbon/library/_border-style.scss",
        "sass/theme/inc/bourbon/library/_border-width.scss",
        "sass/theme/inc/bourbon/library/_buttons.scss",
        "sass/theme/inc/bourbon/library/_clearfix.scss",
        "sass/theme/inc/bourbon/library/_contrast-switch.scss",
        "sass/theme/inc/bourbon/library/_ellipsis.scss",
        "sass/theme/inc/bourbon/library/_font-face.scss",
        "sass/theme/inc/bourbon/library/_font-stacks.scss",
        "sass/theme/inc/bourbon/library/_hide-text.scss",
        "sass/theme/inc/bourbon/library/_hide-visually.scss",
        "sass/theme/inc/bourbon/library/_margin.scss",
        "sass/theme/inc/bourbon/library/_modular-scale.scss",
        "sass/theme/inc/bourbon/library/_padding.scss",
        "sass/theme/inc/bourbon/library/_position.scss",
        "sass/theme/inc/bourbon/library/_prefixer.scss",
        "sass/theme/inc/bourbon/library/_shade.scss",
        "sass/theme/inc/bourbon/library/_size.scss",
        "sass/theme/inc/bourbon/library/_strip-unit.scss",
        "sass/theme/inc/bourbon/library/_text-inputs.scss",
        "sass/theme/inc/bourbon/library/_tint.scss",
        "sass/theme/inc/bourbon/library/_triangle.scss",
        "sass/theme/inc/bourbon/library/_word-wrap.scss",
        "sass/theme/normalize/typography/_headings.scss",
        "sass/theme/normalize/typography/_copy.scss",
        "sass/theme/normalize/elements/_lists.scss",
        "sass/theme/normalize/elements/_tables.scss",
        "sass/theme/normalize/forms/_buttons.scss",
        "sass/theme/normalize/forms/_fields.scss",
        "sass/theme/normalize/layout/_content-sidebar.scss",
        "sass/theme/normalize/layout/_sidebar-content.scss",
        "sass/theme/normalize/site/primary/_posts-and-pages.scss",
        "sass/theme/normalize/site/primary/_comments.scss",
        "sass/theme/normalize/media/_captions.scss",
        "sass/theme/normalize/media/_galleries.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7895,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}