div#flex {
  display: inline-block;
  width: 100%;
  font-size: 0;
  .section {
    padding: 50px 0;
    clear: both;
    display: inline-block;
    width: 100%;
    font-size: 0;
    > * {
      font-size: initial;
    }
  }
}


.row-wrapper{
  clear: both;
  &.columns-1 .flex-item {
    clear: both;
  }
  @for $i from 1 to 10 {
    &.columns-#{$i} .flex-item {
        @include j-column(1/$i, 0, $i, 5/$i);
    }

    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 3 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/1, 0, 1, 0);
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 4 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/2, 0, 2, 5);
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 5 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/3, 0, 3, 2);
        }
      }
    }
    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 6 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/3, 0, 3, 2);
        }
      }
      @if $i == 7 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/3, 0, 3, 2);
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 8 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/4, 0, 4, 2);
        }
      }
      @if $i == 9 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/4, 0, 4, 2);
        }
      }
    }

    @media screen and (max-width: $breakpoint-tablet) {
      @if $i == 10 {
        &.columns-#{$i} .flex-item {
          @include j-column(1/5, 0, 5, 2);
        }
      }
    }

    @media screen and (max-width: $breakpoint-small-tablet) {
      &.columns-#{$i} .flex-item {
        @include j-column(1, 0, 1, 1);
      }
    }
  }
}

