ul, ol {
  margin: 0 0 1rem 0.6rem;
  padding: 0 0 1rem 1.3rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 .5rem .5rem;
}