a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: $button__border;
  border-radius: $button__border-radius;
  padding: $button__padding;
  background: $color__background-button;
  color: $button__text-color;
  font-size: $button__font-size;
  font-family: $button__font-family;
  font-weight: $button__font-weight;
  text-decoration: none;

  &:hover {
    border-color: $button__border__color-hover;
    color: $button__text-color-hover;
    background: $button__background-color-hover;
  }

  &:active,
  &:focus {
    border-color: $button__border__color-focus;
    outline: none;
  }
  &:visited {
    color:initial;
  }
}



